*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}
.element{
    width: 100%;
    height: 30%;
    background: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    color: #fff;
}