<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="element condidate">
            <h1>To manage the candidates, <span><a href="/admin/candidates">click here</a></span></h1>
        </div>
        <div class="element material">
            <h1>To manage the materials, <span><a href="/admin/materials">click here</a></span></h1>
        </div>
        <div class="element hall">
            <h1>To manage the Halls, <span><a href="/admin/halls">click here</a></span></h1>
        </div>
        <div class="element managing">
            <h1>To manage the correctors, <span><a href="/admin/corrector">click here</a></span></h1>
        </div>
        <div class="element managing">
            <h1>To manage the Managings, <span><a href="/admin/deliberations">click here</a></span></h1>
        </div>
    </div>
</body>
</html>