<div class="wrpper">
    <div class="logo">
        <a href="#">MouriThems</a>
    </div>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Portfolio</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
    
        </nav>
    </header>
    <div class="banner-area">
        <h2>this is banner</h2>
    </div>
</div>